<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" metadata-complete="true" version="4.0">
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>sampleproject.HelloWorld</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>morning</servlet-name>
    <servlet-class>sampleproject.GoodMorning</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>toppage</servlet-name>
    <servlet-class>sampleproject.Top</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>introduction</servlet-name>
    <servlet-class>sampleproject.Introduction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>contact</servlet-name>
    <servlet-class>sampleproject.Contact</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getcontact</servlet-name>
    <servlet-class>sampleproject.Get_contact</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>sampleproject.Update</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updatecontact</servlet-name>
    <servlet-class>sampleproject.Update_contact</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>sampleproject.Delete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deletecontact</servlet-name>
    <servlet-class>sampleproject.Delete_contact</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>
      /servlet/hello
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>morning</servlet-name>
    <url-pattern>
      /servlet/morning
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toppage</servlet-name>
    <url-pattern>
      /servlet/toppage
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>introduction</servlet-name>
    <url-pattern>
      /servlet/introduction
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>
      /servlet/contact
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getcontact</servlet-name>
    <url-pattern>
      /servlet/getcontact
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>
      /servlet/update
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updatecontact</servlet-name>
    <url-pattern>
      /servlet/updatecontact
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>
      /servlet/delete
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deletecontact</servlet-name>
    <url-pattern>
      /servlet/deletecontact
    </url-pattern>
  </servlet-mapping>
</web-app>